body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: black;
  color: white;
}

.welcome-page {
  height: 720px;
  width: 100%;
  background-image: url("./giphy.gif");
  background-size: cover;
}

.enter-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

.giphy-home {
  padding-top: 50px;
}
