body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.welcome-page {
  height: 720px;
  width: 100%;
  background-image: url("./giphy.gif");
  background-size: cover;
}

.enter-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

.giphy-home {
  padding-top: 50px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}
.search-bar {
  width: 87%;
  display: inline-block;
}
.search-submit {
  width: 12%;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-item {
  display: inline-block;
  padding-bottom: 15px;
}
